* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat';
    background: linear-gradient(60deg, #0085d3 0%, #a980d0 100%);
}
.captcha-container {
    width: 100%;
    height: 100%;

    /* WebKit (Chrome & Safari) */
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    /* Firefox */
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;
}
.captcha.container {
    padding: 40px 70px;
    border-radius: 12px;
    background: whitesmoke;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.captcha.logo {
    margin-bottom: 20px;
}
.captcha.recaptcha {
    margin-top: 20px;
}
.captcha.error {
    text-align: left;
    padding: 10px;
    background-color: lightcoral;
    border: 2px solid #e35555;
    font-size: 12px;
    margin: 2px;
    border-radius: 20px;
}
.captcha > .error > a {
    cursor: pointer;
    float: right;
    margin: 10px;
}
.hidden {
    display: none;
}
.captcha.recaptcha > form > button {
    background: linear-gradient(60deg, #4f46e5 0%, #0085d3 100%);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
    margin-top: 20px;
    padding: 10px 25px;
    border-radius: 0.25rem !important;
}
.captcha.recaptcha > form > button:hover {
    background-color: rgba(99, 102, 241, 1);
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
